@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
    font-size: 18px;
    color: white;
    font-weight: 300;
    flex-shrink: 0;
}

.hamburger {
    position: fixed;
    top: 10px;
    left: 10px;
    /* width: 35px; */
    z-index: 100;

    width: 51px;
    height: 51px;
    background-color: #151f2c;
    box-shadow: 0 0 5px #333;
    padding: 6px 8px;
    border-radius: 3px;
}

.hamburger div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    border-radius: 6px;
}

.hamburger:hover {
    cursor: pointer;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

.parallax {
    position: relative;
}

#menu {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.slide-in-link {
    margin: 7px 10px;
    padding: 3px 0;
}

.slide-in-link:hover {
    cursor: pointer;
}

.slide-in-link span {
    color: black;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s;
}

.slide-in-link.current span {
    border-color: black;
}

#expanded {
    position: fixed;
    z-index: 100;
    width: 100vw;
    display: none;
    /* display: flex; */
    justify-content: center;
    background-color: #151F2C;
    height: 50px;
    align-items: center;
    box-shadow: 0 5px 5px -5px #333;
}

.section-link {
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 3px 15px;
    font-size: 93%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.section-link.current {
    border-color: white;
}

.section-link:hover {
    cursor: pointer;
}

.section-link:not(.current):hover {
    color: #d9ecea;
    /* border-color: #d9ecea; */
}

#parallax1 {
    background-image:
        linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
        url('images/highway.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.overlay {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 150;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .1);
    transition: all 0.2s;
}

.overlay.show {
    display: block;
}

.slide-in {
    width: 300px;
    height: 100vh;
    position: fixed;
    transition: all 0.2s;
    transform: translate(-305px);
    background-color: white;
    box-shadow: 0 0 5px #333;
    z-index: 200;
}

.slide-in.out {
    transform: translate(0, 0);
}

.slide-in #close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.slide-in #close:hover {
    cursor: pointer;
}

#title, #name {
    letter-spacing: 1px;
    text-transform: uppercase;
    word-spacing: 2px;
}

#title {
    font-size: 120%;
}

#name {
    font-size: 200%
}

.section {
    text-align: center;
    padding: 125px 80px;
}

.section:nth-of-type(odd) {
    background-color: #eeeeee;
}

.section * {
    color: #454545;
}

.section-title {
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 10px;
}

.section-content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
}

#about_me .section-content {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

#about_me #text-about {
    width: 55%;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 1.7em;
}

#headshot {
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
}

#headshot img {
    /* height: 400px; */
    width: 100%;
    border-radius: 50%;
}

.job {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px 3px;
}

.job:not(:last-child) {
    border-bottom: 1px solid #454545;
}

.job-title {
    font-size: 110%;
}

.job-description {
    font-size: 90%;
    margin-top: 5px;
    text-align: left;
    line-height: 1.7em;
    text-rendering: optimizeLegibility;
    order: 2;
}

.company {
    width:  100%;
    display: flex;
    justify-content: space-between;
    order: 0;
    flex-direction: column;
    align-items: start;
    margin-bottom: 3px;
}

.company-website {
    font-size: 87%;
}

.job-dates {
    font-size: 75%;
    order: 1;
}

.contact-methods {
    display: flex;
    justify-content: center;
}

.skills {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.skill {
    margin-bottom: 20px !important;
}

.skill span {
    color: #307bbb !important;
}

@media screen and (min-width: 515px) {
    .skills {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 630px) {
    .hamburger, .overlay.show, .slide-in {
        display: none;
    }

    #expanded {
        display: flex;
    }

    .company {
        order: 1;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
    }

    .job-dates {
        order: 0;
    }

    .parallax {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .skills {
        grid-template-columns: repeat(3, 1fr);
    }

    .section {
        display: flex;
        align-items: center;
        min-height: 100vh;
    }
}

@media screen and (max-width: 705px) {
    #about_me .section-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about_me #text-about {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    #headshot {
        width: 250px;
    }
}

@media screen and (max-width: 600px) {
    .section {
        padding: 50px 30px;
    }
}